sphinx==3.5.4
pymdown-extensions>8.0
MarkdownSubscript
mock>4.0
git+https://github.com/thespacedoctor/sphinx-markdown-parser.git@master#egg=sphinx_markdown_parser
m2r
mdx_include>1.3
lxml
sphinxcontrib-mermaid
git+https://github.com/readthedocs/readthedocs-sphinx-search@master
docopt
unicodecsv
psutil>5.7
